<% include ../partials/head %>
	<style type="text/css">
	    #image_preview img {
	      width: 200px;
	      padding: 5px;
	      border: 1px solid #ddd;
	      border-radius: 4px;
	    }

	    img:hover {
	        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
	    }

	    .img-wrap {
	        position: relative;
	        display: inline-block;
	    }

	    .img-wrap .close {
	        position: absolute;
	        top: 2px;
	        right: 2px;
	        z-index: 100;
	        background-color: #FFF;
	        padding: 5px 2px 2px;
	        color: #000;
	        font-weight: bold;
	        cursor: pointer;
	        opacity: .2;
	        text-align: center;
	        font-size: 22px;
	        line-height: 10px;
	        border-radius: 50%;
	    }

	    .img-wrap:hover .close {
	        opacity: 1;
	    }

	    .btn-file { 
	        width: 30% !important;
	    }

	    .btn-file input[type=file] {
	        position: absolute;
	        top: 0;
	        right: 0;
	        min-width: 100%;
	        min-height: 100%;
	        font-size: 100px;
	        text-align: right;
	        filter: alpha(opacity=0);
	        opacity: 0;
	        outline: none;
	        background: white;
	        cursor: inherit;
	        display: block;
	    }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<% include ../partials/header %>
		</header>

		<aside class="main-sidebar">
			<% include ../partials/aside %>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Manage Year Books
				</h1>
			</section>
			<section class="content">
				<!-- for main content of the page -->
				<div class="row">
					<div class="col-md-12">
						<!-- general form elements -->
						<div class="box box-info">
							<div class="box-header">
								<h3 class="box-title">Add Year Book</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<form id="year_book_form" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
								<div class="box-body">
									<div id="AlertInfo">                            
										<div class="alert alert-danger" style="display: none">
											<i class="fa fa-warning"></i>
											<button class="close" data-dismiss="alert">×</button>
											<span id="errorMsg">You have some form errors. Please check below.</span>
										</div>

										<div class="alert alert-success " style="display: none">
											<i class="fa fa-check"></i>
											<button class="close" data-dismiss="alert">×</button>
											<span id="successMsg">Your form validation is successful!</span>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6">
												<div class="col-md-12">
													<div class="form-group">
														<label class="col-md-4 control-label">Name <span style="color:red;">*</span></label>
														<div class="col-md-6">
															<input type="text" class="form-control" id="name" name="name" placeholder="Name">
														</div>
													</div>
												</div>

												<div class="col-md-12">
                                    				<div class="form-group">
                                        				<label class="col-md-4 control-label">Image <span style="color:red;">*</span></label>
                                        				<label class="col-md-offset-1 btn btn-primary btn-file"><i class="fa fa-folder-open" aria-hidden="true"></i> Browse <input type="file" id="image" name="image" style="display: none;">
                                        				</label>
                                    				</div>
                                				</div>
											</div>   

											<div class="col-md-6">
												<div class="col-md-12">
													<div class="form-group">
														<label class="col-md-4 control-label">Status <span style="color:red;">*</span></label>
														<div class="col-md-6">
															<select class="form-control input-sm" id="status" name="status" placeholder="Date">
																<option value="">Select Status</option>
																<option value="1">Active</option>
																<option value="0">Inacive</option>
															</select>
														</div>
													</div>
												</div>

												<div class="col-md-12 col-md-offset-2" id="image_preview"></div>
											</div>
										</div>

										<div class="col-md-12">
											<div class="form-group">
												<label class="col-md-2 control-label">Link Url <span style="color:red;">*</span></label>
												<div class="col-md-10">
													<input type="text" class="form-control input-sm" id="url" name="url" placeholder="Link Url">
												</div>
											</div>
										</div>
									</div>
								</div>        

								<div class="box-footer">
									<div class="row">
										<div class="col-md-5 hidden-sm"></div>
										<div class="col-md-6 col-sm-12">
											<span class="pull-right col-sm-pull-left">
												<button type="submit" id="save_year_book" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i> Submit</button>
												<button type="reset" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
											</span>
										</div>
									</div>
								</div>
							</form>
						</div><!-- /.box -->
					</div>
				</div>
			</section>
		</div>

		<footer class="main-footer">
			<% include ../partials/footer %>
		</footer>
	</div>

	<% include ../partials/tail %>

	<script type="text/javascript" src="../../jquery-validation/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../jquery-validation/js/additional-methods.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$(document).on('change','#image',function(event) {
            	var total_file=document.getElementById("image").files.length;
            	for(var i=0;i<total_file;i++)
            	{
                	$('#image_preview').append(`<div class="img-wrap">
                                    <i class="fa fa-times close" aria-hidden="true"></i>
                                    <img src="${URL.createObjectURL(event.target.files[i])}"'>
                                  </div>`);
            	}
        	});

			$(document).on('click',".close",function() {
			    $(this).parent().remove();
			});

			$(document).on('click', '#save_year_book', function() {
	            var myForm = $('#year_book_form');
	            var errorMsgDiv = $('.alert-danger');
	            var successMsgDiv = $('.alert-success');

	            myForm.validate({
	                errorElement: 'span', //default input error message container
	                errorClass: 'help-block help-block-error', // default input error message class
	                focusInvalid: false, // do not focus the last invalid input
	                ignore: "",  // validate all fields including form hidden input
	                rules: {
	                    "name": {
	                        required: true
	                    },
	                    "url": {
	                        required: true
	                    },
	                    "status": {
	                        required: true
	                    },
	                    "image": {
	                    	required: true
	                    }
	                },

	                invalidHandler: function (event, validator) { //display error alert on form submit     
	                    successMsgDiv.hide();
	                    errorMsgDiv.show();
	                    errorMsgDiv.delay(3000).fadeOut();
	                },

	                highlight: function (element) { // hightlight error inputs
	                    $(element)
	                        .closest('.form-group').addClass('has-error'); // set error class to the control group
	                },

	                unhighlight: function (element) { // revert the change done by hightlight
	                    $(element)
	                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
	                },

	                success: function (label) {
	                    label
	                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
	                },

	                submitHandler: function (form) {
	                    var formData = new FormData($("#year_book_form")[0]);

	                    $.ajax({
	                        url: "/year_books/store",
	                        type: "POST",
	                        data:  formData,
	                        contentType: false,
	                        cache: false,
	                        processData:false,
	                        success: function(data)
	                        {
	                            var res = data.split("|"); 
	                            if(res[0]=='error')
	                            {
	                                $('#errorMsg').html(res[1]);
	                                errorMsgDiv.show();  
	                                successMsgDiv.hide();
	                                errorMsgDiv.delay(3000).fadeOut();
	                            }
	                            else if(res[0]=='success')
	                            {
	                                $('#successMsg').html(res[1]);
	                                successMsgDiv.show();
	                                errorMsgDiv.hide();
	                                successMsgDiv.delay(3000).fadeOut();
	                                setTimeout(function() {
	                                window.location.href = "/year_books/list";
	                                }, 1000);
	                            }
	                        }
	                    });
	                }
	            });
	        });
    	});
	</script>
	</body>
</html>


