<% include ../partials/head %>
<link href="../../datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="../../datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header class="main-header">
			<% include ../partials/header %>
		</header>

		<aside class="main-sidebar">
			<% include ../partials/aside %>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>Manage Digital Copies</h1>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-info">
							<div class="box-header">
								<h3 class="box-title">List Digital Copies</h3>
							</div>
							<div id="AlertInfo"> 
								<div class="alert alert-danger" style="display: none">
									<i class="fa fa-warning"></i>
									<button class="close" data-dismiss="alert">×</button>
									<span id="errorMsg">You have some form errors. Please check below.</span>
								</div>
								<div class="alert alert-success" style="display: none">
									<i class="fa fa-check"></i>
									<button class="close" data-dismiss="alert">×</button>
									<span id="successMsg">Your form validation is successful!</span>
								</div>
							</div>
                            <input type="text" id="searchBox" class="form-control" placeholder="Search..." style="margin: 10px; width: 300px;" />
							<div class="table-responsive">
								<table class="display compact" id="digital_copies_table">
					                <thead>
					                    <tr>
					                        <th>Sr. No.</th>
					                        <th>Url</th>
                                        <th>Date</th>
					                        <th>Image</th>
                                        <th>Edition</th>
					                        <th>Status</th>
					                        <th>Action</th>
					                    </tr>
					                </thead>
					                <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th id="location"></th>
                                            <th id="status"></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
					            </table>
                         </div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<footer class="main-footer">
			<% include ../partials/footer %>
		</footer>
	</div>

	<% include ../partials/tail %>

	<script src="../../datatables/jquery.dataTables.js" type="text/javascript"></script>
	<script src="../../bootbox/bootbox.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		var ajax_digital_copies_table;
    	$(document).ready(function() {
            $('#digital_copies_table tfoot th#status').html(`<select class="form-control">
                                    <option value="">Select Status</option>
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>`);

        	ajax_digital_copies_table = $("#digital_copies_table").DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    type: "POST",
                    url: "/digital_copies/get_digital_copies",
                },
                columns: [
                    { data: null },
                    { data: "url", render: (data) => `<a href="${data}" target="_blank">${data}</a>` },
                    { data: "dateISO", render: (data) => data ? new Date(data).toLocaleDateString("en-GB") : "N/A" },
                    { data: "image", render: (data) => `<img src="${data}" width="100" height="100" alt="No Image"/>` },
                    { data: "location", render: (data) => data || "Not Specified" },
                    { data: "status", render: (data) => data == "1" ? "Active" : "Inactive" },
                    { defaultContent: '<a href="#" class="edit btn btn-primary btn-xs">Edit</a> <button class="delete btn btn-danger btn-xs">Delete</button>' },
                ],
                order: [[2, "desc"]],
                columnDefs: [{ searchable: false, orderable: false, targets: [0, 5, 6] }],
                fnCreatedRow: (nRow, aData) => $(nRow).attr("id", aData._id),
                fnRowCallback: (nRow, aData, iDisplayIndex) => {
                    $("td:first", nRow).html(iDisplayIndex + 1);
                    return nRow;
                }
            });

            $("#searchBox").on("keyup", function() {
                ajax_digital_copies_table.search(this.value).draw();
            });

            $('#digital_copies_table tbody').on('click', '.edit', function (e) {
                e.preventDefault();
                var id = $(this).closest('tr').attr('id');
                window.location.href="/digital_copies/edit/" + id;
            });

            $('#digital_copies_table tbody').on('click', '.delete', function (e) {
                var id = $(this).closest('tr').attr('id');
                bootbox.confirm("Are you sure?", function(result) {
                    if(result) {
                        $.ajax({
                            url: '/digital_copies/delete/' + id,
                            type: 'DELETE',
                            success: (data) => {
                                let status = data.status || "error";
                                let message = data.message || "Unexpected error";
                                if (status === "success") {
                                    $('#successMsg').html(message).parent().show().delay(3000).fadeOut();
                                    ajax_digital_copies_table.ajax.reload();
                                } else {
                                    $('#errorMsg').html(message).parent().show().delay(3000).fadeOut();
                                }
                            }
                        });
                    }
                });
            });
    	});
	</script>
</body>
</html>
