<% include ../partials/head %>
<link href="../../datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="../../datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../jquery_ui/css/jquery-ui.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<% include ../partials/header %>
		</header>

		<aside class="main-sidebar">
			<% include ../partials/aside %>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Manage News
				</h1>
			</section>
			<section class="content">
				<!-- for main content of the page -->
				<div class="row">
					<div class="col-md-12">
						<!-- general form elements -->
						<div class="box box-info">
							<div class="box-header">
								<h3 class="box-title">List News</h3>
							</div><!-- /.box-header -->
							<div id="AlertInfo">                            
								<div class="alert alert-danger" style="display: none">
									<i class="fa fa-warning"></i>
									<button class="close" data-dismiss="alert">×</button>
									<span id="errorMsg">You have some form errors. Please check below.</span>
								</div>

								<div class="alert alert-success " style="display: none">
									<i class="fa fa-check"></i>
									<button class="close" data-dismiss="alert">×</button>
									<span id="successMsg">Your form validation is successful!</span>
								</div>
							</div>
							<div class="table-responsive">
								<table class="display compact" id="news_table">
	                                <thead>
	                                    <tr>
	                                        <th>Sr. No.</th>
                                            <th>Category</th>
	                                        <th>Headline</th>
                                            <th>Date</th>
	                                        <th>Breaking News</th>
	                                        <th>Four Lines</th>
                                            <th>Sql Id</th>
	                                        <th>Image</th>
	                                        <th>Action</th>
	                                    </tr>
	                                </thead>
	                                <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th id="category"></th>
                                            <th></th>
                                            <th id="date"></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
	                            </table>
                        	</div>
						</div><!-- /.box -->
					</div>
				</div>
			</section>
		</div>

		<footer class="main-footer">
			<% include ../partials/footer %>
		</footer>
	</div>

	<% include ../partials/tail %>

	<script src="../../datatables/jquery.dataTables.js" type="text/javascript"></script>
	<script src="../../bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="../../moment/js/moment.min.js"></script>
    <script src="../../jquery_ui/js/jquery-ui.min.js"></script>
	<script type="text/javascript">
		var ajax_news_table;
    	$(document).ready(function() {

            // $('').each( function () {
                $('#news_table tfoot th#category').html( `<select class="form-control">
                                    <option value="">Select Category</option>
                                    <option value="1">Shipping News</option>
                                    <option value="2">Trade News</option>
                                    <option value="3">Port News</option>
                                    <option value="4">Transport News</option>
                                    <option value="5">Indian Economy</option>
                                    <option value="6">Special Report</option>
                                    <option value="7">International</option>
                                    <option value="8">Aviation Cargo Express</option>
                                </select>` );

                $('#news_table tfoot th#date').html( `<input type="text" id="date_picker" placeholder="Search Date" class="form-control">` );
            // });

        	ajax_news_table = $('#news_table').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
            	type: 'POST',
                url : "/news/get_news",
            },
            // language: {searchPlaceholder: "Search Headline, Link Url and Four Lnes"},
            columns: [
                {data: null},
                {data: 'category_id', name: 'category_id',
                    'render': function( data, type, row, meta) {
                        if(type === 'display') {
                            if(data == 1) {
                                return 'Shipping News';
                            } else if(data == 2) {
                                return 'Trade News';
                            } else if(data == 3) {
                                return 'Port News';
                            } else if(data == 4) {
                                return 'Transport News';
                            } else if(data == 5) {
                                return 'Indian Economy';
                            } else if(data == 6) {
                                return 'Special Report';
                            } else if(data == 7) {
                                return 'International';
                            } else if(data == 8) {
                                return 'Aviation Cargo Express';
                            }
                        } else {
                            return data;
                        }
                    }
                },
                {data: 'headline', name: 'headline'},
                {data: 'date', name: 'date',
                    'render': function( data, type, row, meta) {
                        if(type === 'display') {
                            return moment(data).format("YYYY-MM-DD");
                        } else {
                            return data;
                        }
                    }
                },
                {data: 'breaking_news', name: 'breaking_news'},
                {data: 'four_lines', name: 'four_lines'},
                {data: 'sql_id', name: 'sql_id'},
                {data: 'image', name: 'image', 
                    'render': function( data, type, row, meta) {
                        return '<img src="'+data+'" width="100" height="100" alt="No Image"/>';
                    }
                },
                { 
                    "data": "_id", 
                    "render": function(data, type, row) {
                        return '<a href="#" class="edit btn btn-primary btn-xs"><i class="fa fa-pencil-square-o"></i> Edit</a>&nbsp;' +
                               '<button type="button" class="delete btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</button>&nbsp;<br>' +
                               '<input type="checkbox" class="inFocus" data-id="' + data + '"><label> In Focus</label>';
                    }
                },
                {data: '_id', name: '_id', searchable: false, visible: false},
                
            ],
            "order": [
                [3, "desc"]
            ],
            "columnDefs": [
                {
                    "searchable": false,
                    "orderable": false,
                    "targets": [0, 7, 8]
                }
            ],
            "pageLength": 25,
            lengthMenu: [
                    [ 25, 50, 100, 200, -1 ],
                    [ 25, 50, 100, 200, 'All' ]
            ],
            'fnCreatedRow': function (nRow, aData, iDataIndex) {
            	// console.log(aData);
		        $(nRow).attr('id', aData.sql_id); // or whatever you choose to set as the id
                $(nRow).attr('data-id', aData._id); // or whatever you choose to set as the id
		         // $('td', nRow).eq(0).html(iDataIndex + 1);
		    },
		    "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex +1);
               return nRow;
            }
        	});

            ajax_news_table.columns([1]).every( function () {     
                var that = this;
                $( 'select', this.footer() ).on( 'change', function () {
                    if ( that.search() !== this.value ) {
                        that
                        .search( this.value )
                        .draw();
                    }
                });
            });

            ajax_news_table.columns([3]).every( function () {        
                var that = this;
                $( 'input', this.footer() ).on( 'change', function () {
                    if ( that.search() !== this.value ) {
                        that
                        .search( this.value )
                        .draw();
                    }
                });
            });

        	$('#news_table tbody').on('click', '.edit', function (e) {
        		e.preventDefault();
                var row = $(this).closest('tr');
                var id = row[0].attributes[0].value.length;
                if(id == '24') {
                    var mongo_id = row[0].attributes[0].value;
                    id = '';
                } else {
                    id = "/"+row[0].attributes[0].value;
                    mongo_id = row[0].attributes[1].value;
                }
                // console.log(row[0].attributes[1].value.length);return false;
                var mongo_id = row[0].attributes[1].value.length;
                if(mongo_id == '3') {
                    mongo_id = row[0].attributes[0].value;
                    id = '';
                } else {
                    id = "/"+row[0].attributes[0].value;
                    mongo_id = row[0].attributes[1].value;
                }
                // console.log(row[0]);return false;
                window.location.href="/news/edit/"+mongo_id+id;
            });

            $('#news_table tbody').on('click', '.delete', function (e) {
                var row = $(this).closest('tr');
                // console.log(row[0].attributes[0].value.length);return false;
                var id = row[0].attributes[0].value.length;
                if(id == '24') {
                    var mongo_id = row[0].attributes[0].value;
                    id = '';
                } else {
                    id = "/"+row[0].attributes[0].value;
                    mongo_id = row[0].attributes[1].value;
                }
                // console.log(row[0].attributes[1].value.length);return false;
                var mongo_id = row[0].attributes[1].value.length;
                if(mongo_id == '3') {
                    mongo_id = row[0].attributes[0].value;
                    id = '';
                } else {
                    id = "/"+row[0].attributes[0].value;
                    mongo_id = row[0].attributes[1].value;
                }
                // console.log('/news/delete/'+mongo_id+id);return false;
            	var errorMsgDiv = $('.alert-danger');
            	var successMsgDiv = $('.alert-success');

            	bootbox.confirm("Are you sure?", function(result) {
                if(result)
                {
                    $.ajax({
                        url: '/news/delete/'+mongo_id+id,
                        type:'DELETE',
                        data:id,
                        success: function(data) {

                            var res = data.split("|"); 
                            if(res[0]=='error')
                            {
                                $('#errorMsg').html(res[1]);

                                errorMsgDiv.show();  

                                successMsgDiv.hide();

                                errorMsgDiv.delay(3000).fadeOut();
                            }
                            else if(res[0]=='success')
                            {
                                $('#successMsg').html(res[1]);

                                successMsgDiv.show();

                                errorMsgDiv.hide();

                                successMsgDiv.delay(3000).fadeOut();

                                filterData();
                            }

                        },

                        error: function() {

                            $('#errorMsg').html('There Is Some Form Error!');

                            errorMsgDiv.show();  

                            successMsgDiv.hide();

                            errorMsgDiv.delay(3000).fadeOut();
                        }
                    });
                }
            	});
            });

            $('#news_table tbody').on('change', '.inFocus', function () {
                var newsId = $(this).attr('data-id');
                var inFocus = $(this).is(':checked');
                
                console.log("Updating inFocus for ID:", newsId);
                
                if (!newsId) {
                    console.error("Error: News ID is undefined.");
                    return;
                }
            
                $.ajax({
                    url: '/news/update-inFocus',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: newsId, inFocus: inFocus }),
                    success: function (response) {
                        console.log(response.message);
                    },
                    error: function (xhr) {
                        console.error('Error updating inFocus:', xhr.responseText);
                    }
                });
            });
                               
            

        	function filterData() {
            	ajax_news_table.ajax.reload();
        	}

            $( "#date_picker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
    	});
	</script>
	</body>
</html>


