<% include ../partials/head %>
<link rel="stylesheet" href="../../jquery_ui/css/jquery-ui.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<% include ../partials/header %>
		</header>

		<aside class="main-sidebar">
			<% include ../partials/aside %>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Manage Question Answers
				</h1>
			</section>
			<section class="content">
				<!-- for main content of the page -->
				<div class="row">
					<div class="col-md-12">
						<!-- general form elements -->
						<div class="box box-info">
							<div class="box-header">
								<h3 class="box-title">Add Question Answer</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<form id="question_answer_form" method="PATCH" class="form-horizontal" role="form" enctype="multipart/form-data">
								<div class="box-body">
									<div id="AlertInfo">                            
										<div class="alert alert-danger" style="display: none">
											<i class="fa fa-warning"></i>
											<button class="close" data-dismiss="alert">×</button>
											<span id="errorMsg">You have some form errors. Please check below.</span>
										</div>

										<div class="alert alert-success " style="display: none">
											<i class="fa fa-check"></i>
											<button class="close" data-dismiss="alert">×</button>
											<span id="successMsg">Your form validation is successful!</span>
										</div>
									</div>

									<div class="row">
										<!-- <div class="col-md-12"> -->
											<div class="col-md-6">
												<div class="col-md-12">
													<div class="form-group">
														<label class="col-md-4 control-label">Date <span style="color:red;">*</span></label>
														<div class="col-md-6">
															<input type="hidden" id="question_answer_id" name="question_answer_id" value="<%= question_answer._id %>">
															<input type="text" class="form-control input-sm" id="date" name="date" placeholder="News Date" value="<%= moment(question_answer.date).format('YYYY-MM-DD') %>">
														</div>
													</div>
												</div>
											</div>
										<!-- </div> -->

										<div class="col-md-12">
											<div class="form-group">
												<label class="col-md-2 control-label">Question <span style="color:red;">*</span></label>
												<div class="col-md-10">
													<textarea rows="5" class="form-control input-sm" id="question" name="question" placeholder="Question"><%= question_answer.question %></textarea>
												</div>
											</div>
										</div>

										<div class="col-md-12">
											<div class="form-group">
												<label class="col-md-2 control-label">Answer <span style="color:red;">*</span></label>
												<div class="col-md-10">
													<textarea class="form-control input-sm" id="answer" name="answer" placeholder="Answer"><%= question_answer.answer %></textarea>
												</div>
											</div>
										</div>
									</div>
								</div>        

								<div class="box-footer">
									<div class="row">
										<div class="col-md-5 hidden-sm"></div>
										<div class="col-md-6 col-sm-12">
											<span class="pull-right col-sm-pull-left">
												<button type="submit" id="save_question_answer" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i> Submit</button>
												<button type="reset" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
											</span>
										</div>
									</div>
								</div>
							</form>
						</div><!-- /.box -->
					</div>
				</div>
			</section>
		</div>

		<footer class="main-footer">
			<% include ../partials/footer %>
		</footer>
	</div>

	<% include ../partials/tail %>

	<script type="text/javascript" src="../../jquery-validation/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../jquery-validation/js/additional-methods.min.js"></script>
	<script src="../../jquery_ui/js/jquery-ui.min.js"></script>
	<!-- <script src="../../ckeditor/js/ckeditor.js"></script> -->
	<script type="text/javascript" src="https://ckeditor.com/docs/vendors/4.12.1/ckeditor/ckeditor.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			CKEDITOR.replace( 'answer', {
				extraPlugins: 'colorbutton, colordialog, justify, font'
			} );

			$(document).on('click', '#save_question_answer', function() {
	            var myForm = $('#question_answer_form');
	            var errorMsgDiv = $('.alert-danger');
	            var successMsgDiv = $('.alert-success');

	            myForm.validate({
	                errorElement: 'span', //default input error message container
	                errorClass: 'help-block help-block-error', // default input error message class
	                focusInvalid: false, // do not focus the last invalid input
	                ignore: "",  // validate all fields including form hidden input
	                rules: {
	                    "date": {
	                        required: true
	                    },
	                    "question": {
	                        required: true
	                    },
	                    "answer": {
	                        required: true
	                    }
	                },

	                invalidHandler: function (event, validator) { //display error alert on form submit     
	                    successMsgDiv.hide();
	                    errorMsgDiv.show();
	                    errorMsgDiv.delay(3000).fadeOut();
	                },

	                highlight: function (element) { // hightlight error inputs
	                    $(element)
	                        .closest('.form-group').addClass('has-error'); // set error class to the control group
	                },

	                unhighlight: function (element) { // revert the change done by hightlight
	                    $(element)
	                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
	                },

	                success: function (label) {
	                    label
	                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
	                },

	                submitHandler: function (form) {
	                    var id = $("#question_answer_id").val();

	                    $.ajax({
	                        url: "/question_answers/update/"+id,
	                        type: "PUT",
	                        data:  $("#question_answer_form").serialize(),
	                        /*contentType: false,
	                        cache: false,
	                        processData:false,*/
	                        success: function(data)
	                        {
	                            var res = data.split("|"); 
	                            if(res[0]=='error')
	                            {
	                                $('#errorMsg').html(res[1]);
	                                errorMsgDiv.show();  
	                                successMsgDiv.hide();
	                                errorMsgDiv.delay(3000).fadeOut();
	                            }
	                            else if(res[0]=='success')
	                            {
	                                $('#successMsg').html(res[1]);
	                                successMsgDiv.show();
	                                errorMsgDiv.hide();
	                                successMsgDiv.delay(3000).fadeOut();
	                                setTimeout(function() {
	                                window.location.href = "/question_answers/list";
	                                }, 1000);
	                            }
	                        }
	                    });
	                }
	            });
	        });

	        $( "#date" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd'
            });
    	});
	</script>
	</body>
</html>


